<script lang="ts">
  import { onMount } from 'svelte';
  import { pageState, accountState } from '../../state.svelte';
  import Button from '../components/web/Button.svelte';
  import InstanceRow from '../components/InstanceRow.svelte';
  import type { TetraMCInstance } from '../../types';
  import { run, sendError } from '../../util';
  import Spinner from '../components/web/Spinner.svelte';

  let installed_instances: TetraMCInstance[] | null = $state(null);
  let typedInstanceName: string = $state('');
  let instanceToDelete: TetraMCInstance | null = $state(null);
  let deleteDialog: HTMLDialogElement;

  function createInstance() {
    pageState.page = 'CreateInstance';
  }

  async function refreshInstances() {
    installed_instances = await run<TetraMCInstance[]>(
      'get_installed_instances'
    );
  }

  function deleteCallback(instance: TetraMCInstance) {
    instanceToDelete = instance;
    deleteDialog.showModal();
  }

  function deleteInstance() {
    run('delete_instance', { instance: instanceToDelete }).catch((e) =>
      sendError(e as string)
    );
    instanceToDelete = null;
    typedInstanceName = '';
    deleteDialog.close();
  }

  let refreshTimer: NodeJS.Timer | null = null;
  $effect(() => {
    if (refreshTimer) clearInterval(refreshTimer);

    run<TetraMCInstance[]>('get_installed_instances').then(
      (instances) => (installed_instances = instances)
    );

    refreshTimer = setInterval(() => {
      console.log('Refreshing instances!');
      run<TetraMCInstance[]>('get_installed_instances').then(
        (instances) => (installed_instances = instances)
      );
    }, 1000 * 1); // every 10 seconds refresh the list.

    return () => {
      clearInterval(refreshTimer);
    };
  });
</script>

<dialog
  bind:this={deleteDialog}
  class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 dark:bg-neutral-700 dark:text-white rounded-lg p-8 text-xl backdrop:bg-neutral-800/80"
>
  <div class="flex flex-col items-center justify-center space-y-4">
    <div class="text-red-500 text-6xl">
      <i class="las la-skull-crossbones"></i>
    </div>
    <div>You are about to delete a minecraft instance.</div>
    <div>
      Please type the name of the instance <span
        class="dark:bg-red-800 dark:text-red-50 bg-red-50 text-red-800 px-2 rounded-md"
        >{instanceToDelete?.name}</span
      > to delete.
    </div>
    <input
      class="dark:bg-neutral-600 rounded-full bg-white appearance-none outline-hidden px-4"
      bind:value={typedInstanceName}
    />
    <div class="flex flex-row space-x-4">
      <Button
        onclick={deleteInstance}
        color="red"
        size="sm"
        disabled={typedInstanceName !== instanceToDelete?.name}>Delete</Button
      >
      <Button onclick={() => deleteDialog.close()} color="emerald" size="sm"
        >Cancel</Button
      >
    </div>
  </div>
</dialog>

{#if accountState.minecraftAccount}
  <div class="flex flex-col space-y-2 h-full">
    <div class="flex flex-row justify-between">
      <Button onclick={createInstance} size="sm">Create Instance</Button>
      <Button onclick={refreshInstances} size="sm" color="blue">Refresh</Button>
    </div>
    <hr
      class="w-full border dark:border-neutral-700 border-neutral-300 rounded-full"
    />
    <div
      class="grid grid-cols-1 hhd:grid-cols-3 hd:grid-cols-3 gap-2 overflow-y-scroll"
    >
      {#if installed_instances}
        {#each installed_instances as instance (instance.name)}
          <InstanceRow {instance} {deleteCallback} />
        {/each}
      {:else}{/if}
    </div>
  </div>
{:else}
  <div>Log in to see instances!</div>
{/if}
