<script lang="ts">
  import type { MinecraftAccount, AzureAuthResponse } from '../../types.d.ts';
  import { open } from '@tauri-apps/plugin-shell';
  import Button from '../components/web/Button.svelte';
  import { run } from '../../util';
  import { pageState, accountState } from '../../state.svelte.js';

  interface Props {
    azureAuthResponse: AzureAuthResponse | null;
  }

  let { azureAuthResponse }: Props = $props();

  async function authenticate() {
    await open(azureAuthResponse?.verification_uri ?? '');
  }

  async function login() {
    const minecraftAccountResponse = await run<MinecraftAccount>(
      'microsoft_login',
      { azureAuthResponse: azureAuthResponse }
    );
    if (!minecraftAccountResponse) {
      return;
    }

    accountState.minecraftAccount = minecraftAccountResponse;
    pageState.page = 'Instances';
  }
</script>

<div
  class="flex flex-col justify-center items-center dark:text-white dark:bg-neutral-800 text-center text-2xl w-full bg-neutral-200 p-4 rounded-l-lg w-full mt-8 h-full"
>
  <div class="w-1/2">
    To sign in, use a web browser to open the page <button
      class="underline text-sky-400"
      onclick={authenticate}>{azureAuthResponse?.verification_uri}</button
    >
    and enter the code <code>{azureAuthResponse?.user_code}</code> to authenticate.
  </div>
  <div>
    You only have <span class="font-bold">15 minutes</span> to input the code.
  </div>
  <div>Click the button below when you are finished.</div>
  <Button onclick={login}>Login</Button>
</div>
