<script lang="ts">
  import { onDestroy } from 'svelte';
  import { globalConfigState } from '../../state.svelte';
  import { run } from '../../util';

  onDestroy(async () => {
    if (
      globalConfigState.globalConfig &&
      globalConfigState.globalConfig?.max_mem <
        globalConfigState.globalConfig?.min_mem
    ) {
      globalConfigState.globalConfig.max_mem =
        globalConfigState.globalConfig?.min_mem;
    }

    await run('write_global_config', {
      config: globalConfigState.globalConfig,
    });
  });
</script>

{#if globalConfigState.globalConfig !== null}
  <div class="dark:text-white space-y-4">
    <div class="flex flex-col justify-center items-start space-y-2">
      <div>
        <span class="text-3xl"><i class="lab la-java"></i></span>
        <span class="text-3xl">Java path</span>
      </div>
      <input
        class="appearance-none h-fit w-full p-4 rounded-md dark:bg-neutral-600"
        type="text"
        bind:value={globalConfigState.globalConfig.java_path}
      />
    </div>
    <div class="flex flex-col justify-center items-start space-y-2">
      <div>
        <span class="text-3xl"><i class="las la-file-image"></i></span>
        <span class="text-3xl">Assets path</span>
      </div>
      <input
        class="appearance-none h-fit w-full p-4 rounded-md dark:bg-neutral-600"
        type="text"
        bind:value={globalConfigState.globalConfig.assets_path}
      />
    </div>
    <div class="flex flex-col justify-center items-start space-y-2">
      <div>
        <span class="text-3xl"><i class="las la-memory"></i></span>
        <span class="text-3xl">Memory</span>
      </div>
      <div class="flex flex-row w-full items-center space-x-4">
        <div
          class="flex flex-row items-center w-1/2 dark:bg-neutral-600 bg-white rounded-md p-2"
        >
          <span>Min:</span>
          <input
            class="appearance-none h-fit w-full px-2 rounded-md dark:bg-neutral-600"
            type="number"
            bind:value={globalConfigState.globalConfig.min_mem}
          />
          <span>MB</span>
        </div>
        <div
          class="flex flex-row items-center w-1/2 dark:bg-neutral-600 bg-white rounded-md p-2"
        >
          <span>Max:</span>
          <input
            class="appearance-none outline-hidden h-fit w-full px-2 rounded-md invalid:text-red-500 dark:bg-neutral-600"
            type="number"
            min={globalConfigState.globalConfig.min_mem}
            bind:value={globalConfigState.globalConfig.max_mem}
          />
          <span>MB</span>
        </div>
      </div>
    </div>
  </div>
{/if}
