<script lang="ts">
  import { pageState, accountState } from '../../state.svelte';
  import { untrack } from 'svelte';
  import { open, type OpenDialogOptions } from '@tauri-apps/plugin-dialog';
  import { open as browserOpen } from '@tauri-apps/plugin-shell';
  import type {
    AccountUpdateResponse,
    MinecraftCape,
    UsernameStatusResponse,
  } from '../../types.d.ts';
  import { run, sendError } from '../../util';
  import Button from '../components/web/Button.svelte';

  let skinFaceAlt = $derived(
    `${accountState.minecraftAccount?.profile.name[0]}`
  );
  let skinFace = $derived(
    `https://visage.surgeplay.com/face/${accountState.minecraftAccount?.profile.skins[0].url
      .split('/')
      .pop()}`
  );
  let skinFull = $derived(
    `https://visage.surgeplay.com/full/256/${accountState.minecraftAccount?.profile.skins[0].url
      .split('/')
      .pop()}`
  );

  /**SKINS**/
  let slim: boolean = $state(false);
  async function uploadSkin() {
    if (skinFilePath) {
      const accountUpdateResponse = await run<AccountUpdateResponse>(
        'upload_skin',
        {
          skin: skinFilePath,
          variant: slim ? 'slim' : 'classic',
          accessToken: accountState.minecraftAccount?.auth.access_token,
        }
      );

      if (accountUpdateResponse && accountState.minecraftAccount) {
        accountState.minecraftAccount.profile.skins =
          accountUpdateResponse.skins;
        accountState.minecraftAccount = accountState.minecraftAccount;
        skinFilePath = undefined;
        skinFileName = undefined;
      }
    }
  }

  let skinFilePath: string | undefined = $state(undefined);
  let skinFileName: string | undefined = $state(undefined);

  async function searchForSkin() {
    const openOptions: OpenDialogOptions = {
      multiple: false,
      filters: [{ name: 'Image', extensions: ['png', 'jpg'] }],
    };

    try {
      skinFilePath = (await open(openOptions)) as string;
      if (skinFilePath) {
        skinFileName = skinFilePath.split('/').pop();
      }
    } catch (err: any) {
      sendError(err);
    }
  }

  async function viewSkin() {
    await browserOpen(
      accountState.minecraftAccount?.profile.skins[0].url ?? ''
    );
  }
  /**SKINS**/

  /**USERNAME**/
  let updatedUsername: string = $state('');
  async function updateUsername() {
    if (
      updatedUsername &&
      /[a-zA-Z0-9_]+/g.test(updatedUsername) &&
      updatedUsername.length < 16 &&
      updatedUsername.length > 0
    ) {
      const accountUpdatedResponse = await run<AccountUpdateResponse>(
        'change_username',
        {
          accessToken: accountState.minecraftAccount?.auth.access_token,
          username: updatedUsername,
        }
      );

      if (accountUpdatedResponse && accountState.minecraftAccount) {
        accountState.minecraftAccount.profile.name =
          accountUpdatedResponse.name;
        accountState.minecraftAccount = accountState.minecraftAccount;
      }
    }
  }
  /**USERNAME**/

  /**CAPES**/
  async function selectCape(cape: MinecraftCape) {
    const accountUpdateResponse = await run<AccountUpdateResponse>('set_cape', {
      cape,
      accessToken: accountState.minecraftAccount?.auth.access_token,
    });

    if (accountUpdateResponse && accountState.minecraftAccount) {
      accountState.minecraftAccount.profile.capes = accountUpdateResponse.capes;
    }
  }

  function isCapeActive(status: string): boolean {
    return status === 'ACTIVE';
  }
  /**CAPES**/

  async function logout() {
    accountState.minecraftAccount = null;
    await run('sign_out');
    pageState.page = 'Login';
  }

  let usernameStatus: {
    status: Promise<UsernameStatusResponse | null> | null;
  } = $state({ status: null });

  // INFO: Untracked so that this only runs once (Like onMount).
  $effect(() => {
    untrack(() => {
      if (!accountState.minecraftAccount) {
        pageState.page = 'Login';
        return;
      }

      accountState.minecraftAccount?.profile.capes.forEach((_, index) => {
        const c = document.getElementById(`cape-${index}`);
        if (c) {
          c.style.backgroundImage = `url(${accountState.minecraftAccount?.profile.capes[index].url})`;
          c.style.backgroundPositionX = '-16px';
          c.style.backgroundPositionY = '-16px';
        }
      });

      if (accountState.minecraftAccount) {
        usernameStatus.status = run<UsernameStatusResponse>(
          'check_username_status',
          {
            accessToken: accountState.minecraftAccount?.auth.access_token,
          }
        );
      }
    });
  });
</script>

<div class="flex flex-col h-full">
  <div class="flex flex-row space-x-4 h-44">
    <div class="dark:bg-blue-700 bg-emerald-500 rounded-full p-4 h-fit">
      <img class="w-32 h-32 pixelated" src={skinFace} alt={skinFaceAlt} />
    </div>
    <div class="flex flex-col justify-center items-start h-full space-y-2">
      {#await usernameStatus.status then usernameStatus}
        {#if usernameStatus && usernameStatus.name_change_allowed}
          <div class="flex flex-row space-x-4">
            <input
              class="appearance-none h-fit p-2 rounded-lg bg-neutral-100 focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-emerald-400 focus:invalid:outline-red-500 text-2xl dark:bg-neutral-600 border dark:border-neutral-700 border-neutral-300"
              type="text"
              pattern="[a-zA-Z0-9_]+"
              placeholder={accountState.minecraftAccount?.profile.name}
              bind:value={updatedUsername}
            />
            <Button size="sm" onclick={updateUsername}>Update</Button>
            <Button size="sm" color="red" onclick={logout}>Logout</Button>
          </div>
        {:else}
          <div class="text-6xl font-bold">
            {accountState.minecraftAccount?.profile.name}
          </div>
        {/if}
        <div class="flex flex-col italic text-neutral-500 text-sm">
          <span class="dark:text-white"
            >Last udpated: {usernameStatus?.changed_at}</span
          >
          <span class="dark:text-white"
            >Created at: {usernameStatus?.created_at}</span
          >
        </div>
      {/await}
    </div>
  </div>

  <div
    class="w-full h-[2px] dark:bg-neutral-700 bg-neutral-300 rounded-full"
  ></div>

  <div class="overflow-y-scroll h-full pt-4 space-y-8">
    <div class="flex flex-col space-y-4">
      <div class="dark:text-white text-2xl uhd:text-4xl font-bold">Capes</div>
      {#if accountState.minecraftAccount}
        <div class="flex flex-row">
          {#each accountState.minecraftAccount.profile.capes as minecraftCape, index (minecraftCape.id)}
            <div
              class="flex flex-col justify-center items-center cursor-pointer"
            >
              <div
                id="cape-{index}"
                class="mx-2 mc-cape-viewer-16x ring-3 ring-offset-2 ring-3 ring-emerald-500 rounded-md"
                class:ring={isCapeActive(minecraftCape.state)}
                class:ring-3={isCapeActive(minecraftCape.state)}
                class:ring-offset-2={isCapeActive(minecraftCape.state)}
                class:ring-emerald-500={isCapeActive(minecraftCape.state)}
              ></div>
              <div class="text-lg">{minecraftCape.alias}</div>
              <input
                onclick={() => {
                  selectCape(minecraftCape);
                }}
                type="radio"
                name="capes"
                checked={isCapeActive(minecraftCape.state)}
              />
            </div>
          {/each}
        </div>
      {/if}
    </div>

    <div class="dark:text-white flex flex-col p-2 space-y-2">
      <div class="dark:text-white text-2xl uhd:text-4xl font-bold">Skin</div>
      <button
        class="flex flex-row space-x-2 w-fit rounded-lg hover:ring-3 hover:ring-2 hover:ring-offset-1 hover:ring-emerald-500 outline-hidden hover:-translate-y-1 transition-all"
        onclick={viewSkin}
      >
        <img class="w-64" src={skinFull} alt="Current skin full" />
        <img
          class="w-64 h-64 pixelated"
          src={accountState.minecraftAccount?.profile.skins[0].url}
          alt="Current skin"
        />
      </button>
      <div class="flex flex-row items-center space-x-2">
        {#if skinFileName}
          <Button size="sm" onclick={uploadSkin}>Upload</Button>
          <span
            class="text-xl dark:bg-neutral-600 bg-neutral-100 p-2 rounded-lg"
            >{skinFileName}</span
          >

          <label>
            <input
              class="appearance-none peer"
              name="slim"
              type="checkbox"
              bind:checked={slim}
            />
            <span
              class="peer-checked:bg-blue-700 p-2 rounded-md text-white dark:bg-neutral-600 bg-neutral-400 cursor-pointer"
              >Slim</span
            >
          </label>
        {:else}
          <Button size="sm" onclick={searchForSkin}>Change</Button>
        {/if}
      </div>
    </div>
  </div>
</div>

<style>
  .pixelated {
    image-rendering: pixelated;
  }

  .mc-cape-viewer-16x {
    width: 160px;
    height: 240px;
    background-size: 1024px 512px;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  }
</style>
