<script lang="ts">
  import type { MouseEventHandler } from 'svelte/elements';

  type IconType = 'text' | 'icon';
  type BackgroundColor = 'red' | 'blue' | 'emerald' | 'yellow' | 'none';
  type Size = 'sm' | 'md' | 'lg';
  type ButtonType = 'reset' | 'submit' | 'button' | null | undefined;

  interface Props {
    type?: IconType;
    color?: BackgroundColor;
    icon?: string;
    size?: Size;
    disabled?: boolean;
    visible?: boolean;
    buttonType?: ButtonType;
    children?: import('svelte').Snippet;
    onclick: MouseEventHandler<HTMLElement> | null | undefined;
  }

  let {
    type = 'text',
    color = 'emerald',
    icon = '',
    size = 'lg',
    disabled = false,
    visible = true,
    buttonType = 'button',
    children,
    onclick,
  }: Props = $props();
</script>

{#if type === 'icon'}
  <!-- svelte-ignore a11y_consider_explicit_label -->
  <button
    {onclick}
    {disabled}
    type={buttonType}
    class:visible
    class:invisible={!visible}
    class:bg-emerald-500={color === 'emerald'}
    class:bg-red-500={color === 'red'}
    class:bg-blue-500={color === 'blue'}
    class:bg-yellow-500={color === 'yellow'}
    class:hover:bg-emerald-400={color === 'emerald'}
    class:hover:bg-red-400={color === 'red'}
    class:hover:bg-blue-400={color === 'blue'}
    class:hover:bg-yellow-400={color === 'yellow'}
    class:focus:bg-emerald-400={color === 'emerald'}
    class:focus:bg-red-400={color === 'red'}
    class:focus:bg-blue-400={color === 'blue'}
    class:focus:bg-yellow-400={color === 'yellow'}
    class:text-xl={size === 'sm'}
    class:text-2xl={size === 'md'}
    class:text-4xl={size === 'lg'}
    class="px-4 py-1 rounded-md text-white hover:bg-emerald-400 transition-all w-full disabled:bg-slate-300 disabled:text-slate-400 disabled:cursor-not-allowed"
  >
    <i class={`las ${icon}`}></i>
  </button>
{:else}
  <button
    {onclick}
    {disabled}
    type={buttonType}
    class:visible
    class:invisible={!visible}
    class:bg-emerald-500={color === 'emerald'}
    class:bg-red-500={color === 'red'}
    class:bg-blue-500={color === 'blue'}
    class:bg-yellow-500={color === 'yellow'}
    class:hover:bg-emerald-400={color === 'emerald'}
    class:hover:bg-red-400={color === 'red'}
    class:hover:bg-blue-400={color === 'blue'}
    class:hover:bg-yellow-400={color === 'yellow'}
    class:focus:bg-emerald-400={color === 'emerald'}
    class:focus:bg-red-400={color === 'red'}
    class:focus:bg-blue-400={color === 'blue'}
    class:focus:bg-yellow-400={color === 'yellow'}
    class:text-xl={size === 'sm'}
    class:text-2xl={size === 'md'}
    class:text-4xl={size === 'lg'}
    class="py-1 px-2 h-fit w-fit rounded-md text-white transition-all disabled:bg-slate-300 disabled:text-slate-400 disabled:cursor-not-allowed"
  >
    {@render children?.()}
  </button>
{/if}
