<script lang="ts">
  import type { MouseEventHandler } from 'svelte/elements';

  type BackgroundColor = 'red' | 'blue' | 'emerald' | 'yellow' | 'none';
  type Size = 'sm' | 'md' | 'lg';
  type ButtonType = 'reset' | 'submit' | 'button' | null | undefined;

  interface Props {
    disabled?: boolean;
    type?: ButtonType;
    size?: Size;
    color?: BackgroundColor;
    children?: import('svelte').Snippet;
    onclick: MouseEventHandler<HTMLButtonElement> | null | undefined;
  }

  let {
    disabled = false,
    type = 'button',
    children,
    onclick,
    size = 'md',
    color = 'emerald',
  }: Props = $props();
</script>

<button
  {onclick}
  {disabled}
  {type}
  class:bg-emerald-500={color === 'emerald'}
  class:bg-red-500={color === 'red'}
  class:bg-blue-500={color === 'blue'}
  class:bg-yellow-500={color === 'yellow'}
  class:hover:bg-emerald-400={color === 'emerald'}
  class:hover:bg-red-400={color === 'red'}
  class:hover:bg-blue-400={color === 'blue'}
  class:hover:bg-yellow-400={color === 'yellow'}
  class:text-xl={size === 'sm'}
  class:text-2xl={size === 'md'}
  class:text-4xl={size === 'lg'}
  class="py-2 px-4 rounded-md text-white bg-emerald-500 hover:bg-emerald-400"
>
  {@render children?.()}
</button>
