<script lang="ts">
  import Sidebar from './lib/components/Sidebar.svelte';
  import Canvas from './lib/components/Canvas.svelte';
  import MessageArea from './lib/components/MessageArea.svelte';
  import AddOnInfoView from './lib/components/AddOnInfoView.svelte';
  import {
    type FabricGameVersion,
    type AzureAuthResponse,
    type GlobalConfig,
    type MinecraftAccount,
    type DownloadStatusPayload,
  } from './types';
  import { onMount, onDestroy } from 'svelte';
  import { listen } from '@tauri-apps/api/event';
  import { run, sendError } from './util';
  import {
    pageState,
    accountState,
    globalConfigState,
    instanceState,
    downloadingState,
    darkMode,
  } from './state.svelte';
  import Login from './lib/pages/Login.svelte';
  import type { UnlistenFn } from '@tauri-apps/api/event';
  import Spinner from './lib/components/web/Spinner.svelte';
  import { getVersion } from '@tauri-apps/api/app';

  let azureAuthResponse: Promise<AzureAuthResponse | null> | null =
    $state(null);
  let instanceDownloadStatusUnlistenFn: UnlistenFn;
  let childProcessTerminatedFn: UnlistenFn;
  let dateTimer: NodeJS.Timer;
  let downloadStatus: DownloadStatusPayload | null = $state(null);

  let initializing = $state(true);

  let displayDate: string = $state(
    Intl.DateTimeFormat('en-US', {
      year: 'numeric',
      month: 'numeric',
      day: 'numeric',
      hour: 'numeric',
      minute: 'numeric',
      second: 'numeric',
      hour12: true,
    }).format(Date.now())
  );

  onMount(async () => {
    if (
      window.matchMedia &&
      window.matchMedia('(prefers-color-scheme: dark)').matches
    ) {
      document.documentElement.classList.add('dark');
      darkMode.set(true);
    }

    let cachedAccount = await run<MinecraftAccount>(
      'read_cached_minecraft_account'
    );

    if (cachedAccount) {
      let refreshedAccount = await run<MinecraftAccount>('microsoft_login', {
        azureAuthResponse: cachedAccount.azure_auth_response,
        azureTokenResponse: cachedAccount.azure_token,
      });

      azureAuthResponse = new Promise((resolve, reject) => {
        if (cachedAccount) {
          resolve(cachedAccount.azure_auth_response);
        } else {
          reject();
        }
      });

      if (refreshedAccount) {
        accountState.minecraftAccount = refreshedAccount;
      }

      pageState.page = 'Instances';
    } else {
      pageState.page = 'Login';
      azureAuthResponse = run<AzureAuthResponse>('microsoft_auth');
      console.log(azureAuthResponse);
    }

    let fabricGameVersions = await run<Array<FabricGameVersion>>(
      'get_supported_fabric_versions'
    );
    if (fabricGameVersions) {
      instanceState.supportedFabricVersions = fabricGameVersions;
    }

    try {
      instanceDownloadStatusUnlistenFn = await listen<DownloadStatusPayload>(
        'download-instance-status',
        (event) => (downloadStatus = event.payload)
      );

      childProcessTerminatedFn = await listen<String>(
        'child-process-terminated',
        (event) => {
          let idx = instanceState.runningInstances.findIndex(
            (name) => name === event.payload
          );
          instanceState.runningInstances.splice(idx, 1);
        }
      );
    } catch (e) {
      sendError('Failed to listen for downloads');
    }

    dateTimer = setInterval(() => {
      displayDate = Intl.DateTimeFormat('en-US', {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
        hour12: true,
      }).format(Date.now());
    }, 1000);

    // Download java if they weren't already downloaded!
    try {
      await run('download_java');
    } catch (e) {
      sendError(e as string);
    }

    // Read global config file
    let cachedConfig = await run<GlobalConfig>('read_global_config');
    if (cachedConfig) {
      globalConfigState.globalConfig = cachedConfig;
    }

    initializing = false;
  });

  onDestroy(() => {
    instanceDownloadStatusUnlistenFn();
    childProcessTerminatedFn();
    clearInterval(dateTimer);
  });
</script>

<MessageArea />
<main
  class="flex flex-col w-screen h-screen dark:text-white dark:bg-blue-800 bg-emerald-500 transition-colors"
  data-tauri-drag-region
>
  <div
    data-tauri-drag-region
    class="flex flex-row items-center w-screen h-8 ml-24 dark:bg-blue-800 bg-emerald-500 fixed transition-colors"
  >
    <!-- Potential title bar elements/behavior -->
  </div>

  <!-- Main app -->
  <div class="flex flex-row w-full h-screen">
    {#if initializing}
      <div class="flex flex-col w-full h-screen items-center justify-center">
        <Spinner></Spinner>
        <div>Initializing, this may take a moment...</div>
      </div>
    {:else}
      <Sidebar />
      <div data-tauri-drag-region class="flex flex-col h-full w-full">
        {#if accountState.minecraftAccount || pageState.page !== 'Login'}
          <Canvas />
        {:else}
          {#await azureAuthResponse}
            <div>Attempting to log you in...</div>
          {:then azureAuthResponse}
            <Login {azureAuthResponse} />
          {/await}
        {/if}
        <div
          class="w-full flex flex-row items-center my-1 mr-4 text-white space-x-2"
        >
          {#if downloadingState.state}
            <div
              class="relative w-1/5 h-4 bg-white rounded-full overflow-hidden"
            >
              <div
                class="absolute left-0 top-0 h-4 bg-blue-500"
                style:width={`${downloadStatus?.percent}%`}
              ></div>
            </div>
            <div class="text-sm italic">{downloadStatus?.message}</div>
          {/if}
          <div class="grow"></div>
          {#await getVersion() then version}
            <div class="italic">v{version}</div>
            &nbsp; |
          {/await}
          <div class="pr-4">{displayDate}</div>
        </div>
      </div>
    {/if}
  </div>
</main>
