<script lang="ts">
  import Spinner from './web/Spinner.svelte';
  import Button from './web/Button.svelte';
  import { instanceState, viewModState } from '../../state.svelte';
  import { marked } from 'marked';
  import DOMPurify from 'dompurify';
  import { open } from '@tauri-apps/plugin-shell';
  import { run, sendError, sendWarning } from '../../util';
  import type {
    AddOn,
    ModrinthProject,
    ModrinthProjectVersion,
  } from '../../types';
  import Dropdown from './Dropdown.svelte';

  interface Props {
    gameVersion: string;
    addOnActions: {
      toInstall: AddOn[];
      toRemove: AddOn[];
    };
  }

  let { gameVersion, addOnActions = $bindable() }: Props = $props();

  let selectedVersion: ModrinthProjectVersion | null = $state(null);
  const markedRenderer = new marked.Renderer();
  markedRenderer.link = function ({ href, title, text }) {
    return `<a href=${href} target="_blank" rel="noopener noreferrer" title=${title || ''}>${text}</a>`;
  };

  async function selectMod(modVersion: ModrinthProjectVersion | null) {
    if (!modVersion) return;

    const alreadySelected = addOnActions.toInstall.some(
      (m) => m.project_id === modVersion.project_id
    );
    if (alreadySelected) {
      sendWarning('You already have this mod installed.');
      return;
    }

    addOnActions.toInstall.push(modVersion);

    if (modVersion) {
      let modrinthMod = await run<ModrinthProject>('get_modrinth_mod', {
        m: modVersion.project_id,
      });

      // FIXME (ADDON DISPLAY)
      // if (modrinthMod) {
      //  mods.toInstallDisplay.push(modrinthMod);
      // }
    }

    close();
  }

  function onLinkClicked(event: any) {
    const target = event.target.closest('a');

    console.log(target);

    if (
      target &&
      target.href &&
      target.href !== '#' &&
      target.href !== '' &&
      target.href !== window.location.href
    ) {
      event.preventDefault();
      console.log(event);
      console.log(target.href);
      open(target.href).catch((e) => sendError(e as string));
    }
  }

  function isProjectAlreadySetToInstall(project: ModrinthProject | null) {
    if (!project) return false;

    // FIXME: This is terrible.
    const setToInstall = addOnActions.toInstall.some(
      (a) => a.project_id === project.id
    );
    const alreadyInstalled = instanceState.editingInstance?.mods?.some(
      (m) => m.project_id === project.id
    );
    return setToInstall || alreadyInstalled;
  }

  async function getProjectVersion(project: ModrinthProject | null) {
    console.log(project?.versions);
    let versions = await run<ModrinthProjectVersion[]>(
      'get_modrinth_mod_versions',
      {
        projectId: project?.id,
        loader: 'fabric',
        gameVersion,
      }
    );

    console.log(versions);
    if (versions) {
      viewModState.viewModVersions = versions;
      selectedVersion = viewModState.viewModVersions[0];
    }
  }

  function close() {
    viewModState.viewModPromise = null;
    viewModState.viewModVersions = null;
  }

  $effect(() => {
    marked.setOptions({
      renderer: markedRenderer,
    });

    //if (viewModState.viewModPromise) {
    // dialog.showModal();
    //} else {
    // dialog.close();
    //}
    return () => {
      close();
    };
  });
</script>

<!-- svelte-ignore a11y_click_events_have_key_events -->
<!-- svelte-ignore a11y_no_noninteractive_element_interactions -->
<!--<dialog
  bind:this={dialog}
  class="w-3/4 h-fit max-h-3/4 space-y-2 pb-8 outline-hidden rounded-lg dark:bg-neutral-700 dark:text-white backdrop:bg-neutral-800/80"
>-->
{#if viewModState.viewModPromise}
  <div
    class="flex flex-col p-8 space-y-4 w-full h-full bg-white dark:bg-neutral-700 rounded-md overflow-y-scroll"
  >
    {#await viewModState.viewModPromise}
      <div class="flex items-center justify-center w-full h-full">
        <Spinner></Spinner>
      </div>
    {:then viewMod}
      <div class="flex flex-row justify-end items-center w-full space-x-2">
        {#await getProjectVersion(viewMod)}
          <Spinner></Spinner>
        {:then}
          <div class="w-full overscroll-contain">
            <Dropdown
              id="versions-dropdown"
              list={viewModState.viewModVersions ?? []}
              displayProperty="version_number"
              bind:selected={selectedVersion}
            ></Dropdown>
          </div>
        {/await}

        <div>
          <Button
            color="emerald"
            size="sm"
            type="icon"
            icon="la-plus"
            disabled={isProjectAlreadySetToInstall(viewMod)}
            onclick={() => selectMod(selectedVersion)}
          ></Button>
        </div>
        <div>
          <Button
            color="red"
            size="sm"
            type="icon"
            icon="la-times"
            onclick={close}
          ></Button>
        </div>
      </div>
      <div
        class="flex flex-col hhd:flex-row hhd:items-start items-center hhd:justify-start justify-center rounded-lg space-y-4 hhd:space-x-2 dark:bg-neutral-700 bg-white"
      >
        {#if viewMod?.icon_url}
          <img
            class="w-[10rem] h-[10rem] rounded-lg"
            src={viewMod?.icon_url}
            alt={viewMod?.title}
          />
        {:else}
          <div
            class="flex justify-center items-center w-[10rem] h-[10rem] rounded-lg text-[8rem] border dark:border-neutral-600 border-neutral-200"
          >
            <i class="las la-image"></i>
          </div>
        {/if}
        <div
          class="flex flex-col justify-center items-center text-center hhd:justify-start hhd:items-start hhd:text-start"
        >
          <div>
            <span class="text-3xl">{viewMod?.title}</span>
          </div>
          <div>
            <span class="text-xl">{viewMod?.team}</span>
          </div>
          <div class="text-center hhd:text-start">
            <span class="italic">{viewMod?.description}</span>
          </div>
          <div class="flex flex-row space-x-4">
            {#if viewMod?.issues_url}
              <a
                href={viewMod?.issues_url}
                target="_blank"
                aria-label="issues_url"
                class="text-4xl hover:text-red-500 transition-colors"
              >
                <i class="las la-exclamation-triangle"></i>
              </a>
            {/if}
            {#if viewMod?.source_url}
              <a
                href={viewMod?.source_url}
                target="_blank"
                aria-label="source_url"
                class="text-4xl hover:text-cyan-500 transition-colors"
                ><i class="las la-code"></i></a
              >
            {/if}
            {#if viewMod?.wiki_url}
              <a
                href={viewMod?.wiki_url}
                target="_blank"
                aria-label="wiki_url"
                class="text-4xl hover:text-blue-500 transition-colors"
                ><i class="lab la-wikipedia-w"></i></a
              >
            {/if}
            {#if viewMod?.discord_url}
              <a
                href={viewMod?.discord_url}
                target="_blank"
                aria-label="discord_url"
                class="text-4xl hover:text-[#7289da] transition-colors"
                ><i class="lab la-discord"></i></a
              >
            {/if}
          </div>
        </div>
      </div>

      <div
        class="grid grid-cols-1 hhd:grid-cols-2 gap-2 text-center hhd:text-start mb-2"
      >
        <div class="text-xl font-bold">Categories:</div>
        <div class="text-xl">{viewMod?.categories}</div>
        <div class="text-xl font-bold">Downloads:</div>
        <div class="text-xl">{viewMod?.downloads}</div>
        <div class="text-xl font-bold">Follows:</div>
        <div class="text-xl">{viewMod?.followers}</div>
        <div class="text-xl font-bold">Date Created:</div>
        <div class="text-xl">{viewMod?.published}</div>
        <div class="text-xl font-bold">Date Modified:</div>
        <div class="text-xl">{viewMod?.updated}</div>
        <div class="text-xl font-bold">License:</div>
        <div class="text-xl">{viewMod?.license?.name}</div>
        <div class="text-xl font-bold">Server Side?</div>
        <div class="text-xl">{viewMod?.server_side}</div>
        <div class="text-xl font-bold">Client Side?</div>
        <div class="text-xl">{viewMod?.client_side}</div>
      </div>

      <!-- svelte-ignore a11y_no_static_element_interactions -->
      <div onclick={onLinkClicked} class="px-8">
        <hr
          class="h-1 border dark:border-neutral-600 border-neutral-200 rounded-full w-full"
        />
        <h1 class="text-3xl my-2">Description</h1>
        {#if viewMod?.body}
          {@html DOMPurify.sanitize(marked(viewMod?.body).toString())}
        {/if}
      </div>

      {#if viewMod && viewMod.gallery && viewMod.gallery.length !== 0}
        <hr
          class="h-1 border dark:border-neutral-600 border-neutral-200 rounded-full w-full"
        />
        <div class="flex flex-col space-y-2 px-8">
          <h1 class="text-3xl">Gallery</h1>
          {#each viewMod.gallery as galleryPhoto (galleryPhoto.url)}
            <img
              class="rounded-lg"
              src={galleryPhoto.raw_url}
              alt={galleryPhoto.title}
            />
          {/each}
        </div>
      {/if}
    {/await}
  </div>
{/if}
<!--</dialog>-->
