<script lang="ts">
  import ModrinthSearch from './ModrinthSearch.svelte';
  import { run, sendError } from '../../util';
  import {
    type ModrinthProject,
    type TetraMCInstance,
    type ModrinthProjectVersion,
    type AddOn,
  } from '../../types';
  import Button from './web/Button.svelte';
  import {
    downloadingState,
    instanceState,
    viewModState,
  } from '../../state.svelte';
  import AddOnInfoView from './AddOnInfoView.svelte';
  import { untrack } from 'svelte';

  interface Props {
    gameVersion: string;
    gameType?: string;
    addOnActions: {
      toInstall: AddOn[];
      toRemove: AddOn[];
    };
    instance: TetraMCInstance | null;
  }
  let {
    gameVersion,
    gameType,
    addOnActions = $bindable(),
    instance,
  }: Props = $props();

  // TODO: Figure out how to add the mod that needs updating from latestVersion button
  // to the toInstall set...
  let installedMods: ModrinthProject[] | null = $state([]);
  let platform: string = $state('Modrinth');
  // let modrinthSubCategory: string = $state('Mods');

  function changePlatform(event: MouseEvent, p: string) {
    event.preventDefault();
    platform = p;
  }

  function removeModrinthProjectFromToInstall(
    event: MouseEvent & { currentTarget: EventTarget & HTMLElement },
    remove: ModrinthProject
  ): any {
    event.preventDefault();

    const index = addOnActions.toInstall.findIndex(
      (a) => a.project_id === remove.id
    );
    addOnActions.toInstall.splice(index, 1);
  }

  function removeModrinthProjectFromInstalled(
    event: MouseEvent & { currentTarget: EventTarget & HTMLElement },
    remove: ModrinthProject
  ): any {
    event.preventDefault();
    const index = instanceState.editingInstance?.mods?.findIndex(
      (m) => m.project_id === remove.id
    );
    if (index) instanceState.editingInstance?.mods?.splice(index, 1);

    addOnActions.toRemove.push({ project_id: remove.id });
  }

  function viewProjectInfo(
    event: MouseEvent & { currentTarget: EventTarget & HTMLElement },
    project: ModrinthProject
  ): any {
    viewModState.viewModPromise = run<ModrinthProject>('get_modrinth_mod', {
      m: project.id,
    });
  }

  function updateProject(
    e: MouseEvent & { currentTarget: EventTarget & HTMLElement },
    mod: ModrinthProject
  ): any {
    e.preventDefault();
    e.stopPropagation();

    console.log('AddOn selected for update: ', $state.snapshot(mod.id));
    downloadingState.state = true;
    run<AddOn>('update_mod', {
      instance: instanceState.editingInstance,
      projectId: mod.id,
      loader: 'fabric',
      gameVersion,
    })
      .then((installedAddOn) => {
        if (installedAddOn) {
          console.log(
            'Updated mod data: ',
            $state.snapshot(installedAddOn.project_id)
          );
          const index = instanceState.editingInstance?.mods?.findIndex(
            (m) => m.project_id == installedAddOn.project_id
          );

          if (index && instanceState.editingInstance?.mods)
            instanceState.editingInstance.mods[index] = installedAddOn;
        }

        outOfDateModsMap?.delete(mod.id);
        downloadingState.state = false;
      })
      .catch((e) => {
        downloadingState.state = false;
        sendError(e as string);
      });
  }

  function isOutOfDate(project: ModrinthProject): boolean {
    console.log($state.snapshot(outOfDateModsMap?.size));
    return outOfDateModsMap?.get(project.id) ?? false;
  }

  let outOfDateModsMap: Map<string, boolean> | null = $state(null);
  let toInstallProjects: ModrinthProject[] = $state([]);
  $effect(() => {
    if (
      outOfDateModsMap === null &&
      instanceState.editingInstance &&
      instanceState.editingInstance.mods
    ) {
      outOfDateModsMap = new Map();

      instanceState.editingInstance.mods.forEach((addOn) => {
        run<ModrinthProjectVersion>('get_latest_modrinth_mod_version', {
          projectId: addOn.project_id,
          gameVersion,
        }).then((latestVersion) => {
          console.log(addOn.version_id, latestVersion?.id);
          if (latestVersion?.id !== addOn.version_id) {
            outOfDateModsMap?.set(addOn.project_id, true);
          }
        });
      });
    }

    if (instanceState.editingInstance?.mods) {
      console.log('Getting installed addons!');
      run<ModrinthProject[]>('get_modrinth_add_ons', {
        addOns: instanceState.editingInstance.mods,
      }).then((retrievedMods) => {
        retrievedMods?.sort((a, b) => a.id.localeCompare(b.id));
        installedMods = retrievedMods;
      });
    }

    if (addOnActions.toInstall) {
      console.log('Getting addons to install!');
      run<ModrinthProject[]>('get_modrinth_add_ons', {
        addOns: addOnActions.toInstall,
      }).then((retrievedMods) => {
        retrievedMods?.sort((a, b) => a.id.localeCompare(b.id));
        toInstallProjects = retrievedMods ?? [];
      });
    }
  });
</script>

<form class="flex flex-col space-y-2 w-full h-full rounded-lg">
  <div class="flex flex-row space-x-1 h-full rounded-lg">
    <div class="flex flex-col rounded-lg w-1/2">
      <div
        class="flex flex-col hhd:flex-row justify-evenly items-center dark:bg-neutral-700 bg-white w-full border-b-2 border-b-neutral-200 dark:border-b-neutral-600 rounded-t-lg"
      >
        <button
          onclick={(event) => changePlatform(event, 'Modrinth')}
          class:bg-neutral-100={platform !== 'Modrinth'}
          class:dark:bg-neutral-700={platform !== 'Modrinth'}
          class:bg-white={platform === 'Modrinth'}
          class:dark:bg-neutral-600={platform === 'Modrinth'}
          class="py-2 w-full rounded-t-lg text-center">Modrinth</button
        >
        <button
          onclick={(event) => changePlatform(event, 'Curse')}
          class:bg-neutral-100={platform !== 'Curse'}
          class:dark:bg-neutral-700={platform !== 'Curse'}
          class:bg-white={platform === 'Curse'}
          class:dark:bg-neutral-600={platform === 'Curse'}
          class="py-2 w-full rounded-t-lg text-center">Curse Forge</button
        >
      </div>
      <!--{#if platform === 'Modrinth'}
        <div
          class="flex flex-row justify-evenly items-center bg-white overflow-hidden w-full border-t border-1 border-neutral-200"
        >
          <button
            onclick={(event) => {}}
            class:bg-neutral-100={modrinthSubCategory !== 'Mods'}
            class:bg-white={modrinthSubCategory === 'Mods'}
            class="py-2 w-full text-center">Mods</button
          >
          <button
            onclick={(event) => {}}
            class:bg-neutral-100={modrinthSubCategory !== 'Shaders'}
            class:bg-white={modrinthSubCategory === 'Shaders'}
            class="py-2 w-full text-center">Shaders</button
          >
          <button
            onclick={(event) => {}}
            class:bg-neutral-100={modrinthSubCategory !== 'ResourcePacks'}
            class:bg-white={modrinthSubCategory === 'ResourcePacks'}
            class="py-2 w-full text-center">Mod Packs</button
          >
          <button
            onclick={(event) => {}}
            class:bg-neutral-100={modrinthSubCategory !== 'DataPacks'}
            class:bg-white={modrinthSubCategory === 'DataPacks'}
            class="py-2 w-full text-center">Mod Packs</button
          >
        </div>
      {/if}-->
      {#if platform === 'Modrinth'}
        <ModrinthSearch {gameType} {gameVersion} bind:addOnActions
        ></ModrinthSearch>
      {:else}
        <div>Not supported yet!</div>
      {/if}
    </div>
    <div
      class="flex flex-col justify-start items-even w-1/2 h-full space-y-2 transition-colors rounded-md rounded-md"
    >
      {#if viewModState.viewModPromise}
        <AddOnInfoView {gameVersion} bind:addOnActions></AddOnInfoView>
      {:else if addOnActions.toInstall.length === 0 && instanceState.editingInstance?.mods?.length === 0}
        <div
          class="flex justify-center items-center w-full h-full bg-white dark:bg-neutral-700 rounded-md"
        >
          No mods selected to be installed.
        </div>
      {:else}
        {#if installedMods && installedMods.length !== 0}
          <div
            class:h-full={!addOnActions.toInstall ||
              addOnActions.toInstall.length === 0}
            class:{halfHeightClass}={addOnActions.toInstall &&
              addOnActions.toInstall.length !== 0}
            class="flex flex-col h-1/2 bg-neutral-100 dark:bg-neutral-700 rounded-lg p-2 overflow-y-scroll"
          >
            <div class="text-lg">Installed:</div>
            <div class="flex flex-col space-y-2">
              <div
                class="grid grid-cols-1 hhd:grid-cols-2 uhd:grid-cols-3 gap-2 dark:bg-neutral-700 rounded-lg"
              >
                {#each installedMods as mod (mod.id)}
                  <div
                    class="relative flex flex-col dark:bg-neutral-600 bg-white rounded-lg overflow-hidden p-2"
                  >
                    <div class="flex flex-row space-x-2">
                      <button
                        onclick={(event) => viewProjectInfo(event, mod)}
                        class="relative min-w-16 max-w-16 min-h-16 max-h-16 rounded-lg overflow-hidden dark:bg-neutral-500 bg-neutral-100 group transition-all"
                      >
                        <div
                          class="absolute left-0 top-0 w-full h-full z-10 flex justify-center items-center group-hover:visible invisible text-3xl group-hover:bg-neutral-800/70 transition-all"
                        >
                          <i class="la la-info-circle"></i>
                        </div>
                        {#if mod?.icon_url}
                          <img
                            class="w-full h-full"
                            src={mod?.icon_url}
                            alt={mod?.title}
                          />
                        {:else}
                          <div
                            class="absolute top-0 left-0 w-full h-full flex justify-center items-center text-5xl uhd:text-6xl rounded-lg border dark:border-neutral-600 border-neutral-200"
                          >
                            <i class="las la-image"></i>
                          </div>
                        {/if}
                      </button>
                      <div class="text-xl grow">
                        {mod.title}
                      </div>
                      {#if isOutOfDate(mod)}
                        <div>
                          <Button
                            onclick={(e) => updateProject(e, mod)}
                            size="sm"
                            color="emerald"
                            type="icon"
                            icon="la-arrow-up"
                          ></Button>
                        </div>
                      {/if}
                      <div class="block float-right">
                        <Button
                          onclick={(event) =>
                            removeModrinthProjectFromInstalled(event, mod)}
                          size="sm"
                          color="red"
                          type="icon"
                          icon="la-trash"
                        ></Button>
                      </div>
                    </div>
                  </div>
                {/each}
              </div>
            </div>
          </div>
        {/if}
        {#if toInstallProjects.length !== 0}
          <div
            class="flex flex-col h-1/2 overflow-y-scroll space-y-2 bg-neutral-100 dark:bg-neutral-700 p-2 rounded-md"
          >
            <div class="text-lg">To install:</div>
            <div class="grid grid-cols-1 hhd:grid-cols-2 uhd:grid-cols-3 gap-2">
              {#each toInstallProjects as project, i (project.id)}
                <div
                  class="flex flex-col h-fit dark:bg-neutral-600 bg-white rounded-lg p-2 space-y-2"
                >
                  <div class="flex flex-row space-x-2">
                    <button
                      onclick={(event) => viewProjectInfo(event, project)}
                      class="relative min-h-16 max-h-16 min-w-16 max-w-16 rounded-md overflow-hidden dark:bg-neutral-600 bg-neutral-100 transition-all group"
                    >
                      <div
                        class="absolute left-0 top-0 w-full h-full z-10 flex justify-center items-center group-hover:visible invisible text-3xl group-hover:bg-neutral-800/70 transition-all"
                      >
                        <i class="la la-info-circle"></i>
                      </div>
                      {#if project?.icon_url}
                        <img
                          class=""
                          src={project?.icon_url}
                          alt={project?.title}
                        />
                      {:else}
                        <div
                          class="absolute top-0 left-0 flex justify-center items-center w-full h-full text-5xl uhd:text-6xl rounded-lg border dark:border-neutral-600 border-neutral-200 z-0"
                        >
                          <i class="las la-image"></i>
                        </div>
                      {/if}
                    </button>
                    <div class="text-xl grow">
                      {project.title}
                    </div>
                    <div>
                      <Button
                        onclick={(event) =>
                          removeModrinthProjectFromToInstall(event, project)}
                        size="sm"
                        color="red"
                        type="icon"
                        icon="la-trash"
                      ></Button>
                    </div>
                  </div>
                  <div class="italic text-lg">
                    {addOnActions.toInstall[i].version_name}
                  </div>
                </div>
              {/each}
            </div>
          </div>
        {/if}
      {/if}
    </div>
  </div>
</form>
