<script lang="ts">
  import Instances from '../pages/Instances.svelte';
  import User from '../pages/User.svelte';
  import Servers from '../pages/Servers.svelte';
  import Settings from '../pages/Settings.svelte';
  import CreateInstance from '../pages/CreateInstance.svelte';
  import { pageState, downloadingState } from '../../state.svelte';
  import Spinner from './web/Spinner.svelte';
</script>

<div
  class="relative bg-neutral-200 dark:bg-neutral-800 p-4 rounded-l-lg w-full mt-8 h-screen overflow-hidden transition-colors"
>
  <div
    class="absolute left-0 top-0 flex justify-center items-center w-full h-full bg-black/50 z-50"
    class:hidden={!downloadingState.state}
  >
    <Spinner></Spinner>
  </div>
  {#if pageState.page === 'Instances'}
    <Instances></Instances>
  {:else if pageState.page === 'CreateInstance'}
    <CreateInstance></CreateInstance>
  {:else if pageState.page === 'User'}
    <User></User>
  {:else if pageState.page === 'Servers'}
    <Servers></Servers>
  {:else if pageState.page === 'Settings'}
    <Settings></Settings>
  {/if}
</div>
