<script lang="ts">
  interface Props {
    id: string;
    list?: any[] | undefined;
    displayProperty?: string;
    placeholder?: string;
    disabled?: boolean;
    selected: any | null | undefined;
    onselect?: (arg0: any, arg1: any) => void;
  }

  let {
    id,
    list,
    displayProperty,
    placeholder = 'Select...',
    disabled = false,
    selected = $bindable(),
    onselect = () => {},
  }: Props = $props();

  let visible = $state(false);

  const _id = `${id}-dd`;

  function click(event: MouseEvent) {
    event.preventDefault();

    let target = event.target as HTMLElement;
    if (target.id === `${id}-main`) {
      visible = !visible;
    }
  }

  function onFocusOut(event: FocusEvent) {
    const relatedTarget = event.relatedTarget;
    const target = event.target as HTMLElement;
    if (relatedTarget instanceof HTMLElement && target.contains(relatedTarget))
      return;
    visible = false;
  }

  function select(event: MouseEvent, listItem: any) {
    event.preventDefault();
    onselect(selected, listItem);

    selected = listItem;
    visible = false;
  }
</script>

<button
  id={`${id}-main`}
  onclick={click}
  onfocusout={onFocusOut}
  {disabled}
  class="relative dark:bg-neutral-600 bg-white p-2 rounded-md w-full flex flex-row justify-between items-center w-[20rem] dark:disabled:bg-neutral-900 disabled:bg-neutral-300 disabled:cursor-not-allowed overscroll-none"
>
  {#if selected}
    {#if displayProperty}
      {selected[displayProperty] ?? ''}
    {:else}
      {selected ?? ''}
    {/if}
  {:else}
    {placeholder}
  {/if}
  <div class="grow"></div>
  <i
    class:la-angle-down={!visible}
    class:la-angle-up={visible}
    class="las pointer-events-none"
  ></i>
  <div
    id={_id}
    class:invisible={!visible}
    class="absolute dark:bg-neutral-600 bg-white w-full left-0 top-full mt-1 p-2 rounded-md max-h-56 flex flex-col overflow-y-scroll z-30 overscroll-none"
  >
    {#if list}
      {#each list as listItem}
        <!-- svelte-ignore node_invalid_placement_ssr -->
        <button
          id={`${listItem}-id`}
          onclick={(event) => select(event, listItem)}
          class="w-full flex justify-center dark:hover:bg-neutral-500 hover:bg-neutral-200 py-2 rounded-md"
        >
          {#if displayProperty}
            {listItem[displayProperty] ?? ''}
          {:else}
            {listItem ?? ''}
          {/if}
        </button>
      {/each}
    {/if}
  </div>
</button>
