<script lang="ts">
  import {
    pageState,
    instanceState,
    accountState,
    globalConfigState,
  } from '../../state.svelte';
  import type { TetraMCInstance } from '../../types';
  import { run, sendError } from '../../util';
  import Button from './web/Button.svelte';

  interface Props {
    instance: TetraMCInstance;
    deleteCallback: (arg0: TetraMCInstance) => void;
  }

  let { instance = $bindable(), deleteCallback }: Props = $props();

  const yearFormatOptions: Intl.DateTimeFormatOptions = {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
    hour: '2-digit',
    minute: '2-digit',
    second: '2-digit',
    timeZoneName: 'short',
  };

  async function play() {
    await run('run_instance', {
      globalConfig: globalConfigState.globalConfig,
      instance,
      account: accountState.minecraftAccount,
    });

    instanceState.runningInstances.push(instance.name);
  }
  function stop() {
    run('stop_instance', {
      instance,
    })
      .then((_) => {
        if (instanceState.runningInstances) {
          let idx = instanceState.runningInstances.findIndex((name: string) => {
            name === instance.name;
          });

          instanceState.runningInstances.splice(idx, 1);
        }
      })
      .catch((e) => sendError(e as string));
  }

  function edit() {
    instanceState.editingInstance = instance;
    pageState.page = 'CreateInstance';
  }

  function del() {
    deleteCallback(instance);
  }

  // FIXME: Probably really slow
  let isRunning = $derived(
    instanceState.runningInstances.filter((name) => name === instance.name)
      .length != 0
  );
</script>

<div
  class="relative text-white bg-neutral-800 flex flex-col rounded-md shadow-md w-full min-h-52 overflow-hidden transition-colors z-0"
>
  <img
    class="absolute w-full h-full top-0 left-0 opacity-30 object-cover z-0"
    src="Minecraft.jpg"
    alt="Minecraft"
  />
  <div class="flex flex-col p-2 z-10">
    <div class="flex flex-row justify-between">
      <h1 class="text-3xl">
        <span class="font-bold">{instance.name}</span>
        <em class="text-xl">({instance.ty})</em>
      </h1>
      <div class="block float-right">
        <Button
          onclick={edit}
          size="sm"
          type="icon"
          color="yellow"
          icon="la-pen"
        />
      </div>
    </div>
    <div class="text-2xl">{instance.id}</div>
    <h2 class="text-lg>">
      Created: {new Date(instance.created).toLocaleString(
        'en-US',
        yearFormatOptions
      )}
    </h2>
    <h2 class="text-lg>" class:invisible={!instance.last_played}>
      Last played: {instance.last_played
        ? new Date(instance.last_played).toLocaleString(
            'en-US',
            yearFormatOptions
          )
        : ''}
    </h2>
  </div>
  <div class="grow"></div>
  <div class="flex flex-row z-10 p-2 space-x-2">
    {#if !isRunning}
      <div class="flex-1">
        <Button
          onclick={play}
          size="sm"
          type="icon"
          color="emerald"
          icon="la-play"
        />
      </div>
    {:else}
      <div class="flex-1">
        <Button
          onclick={stop}
          size="sm"
          type="icon"
          color="red"
          icon="la-stop"
        />
      </div>
    {/if}
    <div class="flex-none">
      <Button onclick={del} size="sm" type="icon" color="red" icon="la-trash" />
    </div>
  </div>
</div>
