<script lang="ts">
  import type { Message } from '../../types';
  import { onDestroy, onMount } from 'svelte';
  import MessageBox from './MessageBox.svelte';
  import { messageState } from '../../state.svelte';

  const maxErrorDuration: number = 1000 * 60;

  let intervalId: number;
  onMount(() => {
    intervalId = setInterval(() => {
      messageState.messages = messageState.messages.filter(
        (msg: Message) => Date.now() - msg.createdAt < maxErrorDuration
      );
    }, 1000);
  });

  onDestroy(() => {
    clearInterval(intervalId);
  });
</script>

<div
  class="absolute pointer-events-none w-1/2 right-0 h-full space-y-2 mr-2 pt-2 z-50 overflow-y-hidden"
>
  {#each messageState.messages as msg, i (msg.id)}
    <MessageBox index={i} {maxErrorDuration} {msg} />
  {/each}
</div>
