<script lang="ts">
  import type { Message } from '../../types';
  import { messageState } from '../../state.svelte';

  interface Props {
    index: number;
    maxErrorDuration: number;
    msg: Message;
  }

  let { index, maxErrorDuration, msg }: Props = $props();

  function closeMessage() {
    messageState.messages.splice(index, 1);
  }
</script>

<div
  class:bg-blue-100={msg.ty === 'Info'}
  class:text-blue-700={msg.ty === 'Info'}
  class:bg-yellow-100={msg.ty === 'Warning'}
  class:text-yellow-700={msg.ty === 'Warning'}
  class:bg-red-100={msg.ty === 'Error'}
  class:text-red-700={msg.ty === 'Error'}
  class="w-full pointer-events-auto flex flex-col p-2 rounded-md animate-slide z-50"
>
  <div class="flex flex-row justify-between items-center">
    <i class="las la-exclamation-circle text-2xl"></i>
    <!-- svelte-ignore a11y_consider_explicit_label -->
    <button
      class:hover:bg-blue-200={msg.ty === 'Info'}
      class:hover:text-blue-700={msg.ty === 'Info'}
      class:hover:bg-yellow-200={msg.ty === 'Warning'}
      class:hover:text-yellow-700={msg.ty === 'Warning'}
      class:hover:bg-red-200={msg.ty === 'Error'}
      class:hover:text-red-700={msg.ty === 'Error'}
      class="rounded-full flex justify-center items-center p-2"
      onclick={closeMessage}
    >
      <i class="las la-times"></i>
    </button>
  </div>
  {msg.message}
  <div class="flex justify-end">
    {maxErrorDuration / 1000 - Math.floor((Date.now() - msg.createdAt) / 1000)}
  </div>
</div>
