<script lang="ts">
  import type {
    ModrinthProject,
    ModrinthProjectHit,
    ModrinthProjectVersion,
    ModrinthProjectSearchResult,
    AddOn,
  } from '../../types';
  import Button from './web/Button.svelte';
  import { run, sendError, sendWarning } from '../../util';
  import { instanceState, viewModState } from '../../state.svelte';
  import Spinner from './web/Spinner.svelte';
  import { untrack } from 'svelte';

  interface Props {
    gameType: String | undefined;
    gameVersion: String | undefined;
    addOnActions: {
      toInstall: AddOn[];
      toRemove: AddOn[];
    };
  }
  let { gameType, gameVersion, addOnActions = $bindable() }: Props = $props();

  let searchedProjectResult: Promise<ModrinthProjectSearchResult | null> | null =
    $state(null);
  let searchTerm: string = $state('');
  let searchOffset: number = $state(0);
  let modSearchBar: HTMLInputElement | undefined = $state();
  let searchedMods: ModrinthProjectHit[] = $state([]);
  let viewingMod: ModrinthProjectHit | null = $state(null);
  let tiled = $state(true);

  async function selectProject(e: MouseEvent, project: ModrinthProjectHit) {
    e.preventDefault();
    e.stopPropagation();

    const alreadySelected = addOnActions.toInstall.some(
      (a) => a.project_id === project.project_id
    );
    if (alreadySelected) {
      sendWarning('You already have this mod installed.');
      return;
    }

    // IMPORTANT: Order here is important
    const version = await run<ModrinthProjectVersion>(
      'get_latest_modrinth_mod_version',
      { projectId: project.project_id, gameVersion }
    );
    if (version) {
      addOnActions.toInstall.push(version);
    }

    // TODO: Get version;
    const modrinthMod = await run<ModrinthProject>('get_modrinth_mod', {
      m: project.project_id,
    });

    // FIXME (ADDON DISPLAY)
    // if (modrinthMod) {
    //   mods.toInstallDisplay.push(modrinthMod);
    // }
  }

  function viewProjectInfo(e: MouseEvent, mod: ModrinthProjectHit): any {
    e.preventDefault();
    if (viewingMod === null || viewingMod.project_id !== mod.project_id) {
      viewingMod = mod;
      viewModState.viewModPromise = run<ModrinthProject>('get_modrinth_mod', {
        m: mod.project_id,
      });
    } else {
      viewingMod = null;
      viewModState.viewModPromise = null;
      viewModState.viewModVersions = null;
    }
  }

  function loadNext50(
    event: MouseEvent & { currentTarget: EventTarget & HTMLButtonElement }
  ) {
    event.preventDefault();
    searchOffset += 50;
    searchMods();
  }

  function loadPrevious50(
    event: MouseEvent & { currentTarget: EventTarget & HTMLButtonElement }
  ) {
    event.preventDefault();
    if (searchOffset - 50 < 0) return;

    searchOffset -= 50;
    searchMods();
  }

  function searchModOnClick(event: MouseEvent) {
    event.preventDefault();
    searchMods();
  }

  function searchModOnSubmit(
    event: SubmitEvent & { currentTarget: EventTarget & HTMLButtonElement }
  ) {
    event.preventDefault();
    searchMods();
  }

  function isProjectAlreadySetToInstall(project: ModrinthProjectHit | null) {
    if (!project) return false;

    const setToInstall = addOnActions.toInstall.some(
      (a) => a.project_id === project.project_id
    );
    const alreadyInstalled = instanceState.editingInstance?.mods?.some(
      (m) => m.project_id === project.project_id
    );
    return setToInstall || alreadyInstalled;
  }

  function searchMods() {
    const searchObject = {
      searchTerm: searchTerm,
      gameType,
      gameVersion: gameVersion,
      offset: String(searchOffset),
    };
    console.log(searchObject);
    searchedProjectResult = run<ModrinthProjectSearchResult>(
      'modrinth_search_mods',
      searchObject
    );
  }

  // FIXME: This might work but is most likely bad practice lol.
  $effect(() => {
    console.log('Null viewingMod');
    if (!viewModState.viewModPromise) {
      viewingMod = null;
    }
  });

  $effect(() => {
    untrack(() => {
      console.log('RAN ONCE!');
      searchMods();
    });
  });
</script>

<form
  class="absolute top-0 left-0 sticky flex flex-row space-x-2 p-2 z-20 dark:bg-neutral-700 bg-neutral-100"
>
  <div
    class="flex flex-row justify-between items-center dark:bg-neutral-600 bg-white w-full rounded-full pr-1 border dark:border-neutral-700 border-neutral-300"
  >
    <input
      class="appearance-none w-full p-2 rounded-full dark:bg-neutral-600 bg-white outline-hidden border-none"
      placeholder="Search mods to install..."
      bind:value={searchTerm}
    />
    <!-- svelte-ignore a11y_consider_explicit_label -->
    <button
      onclick={searchModOnClick}
      onsubmit={searchModOnSubmit}
      class="text-2xl rounded-full dark:hover:bg-neutral-500 hover:bg-neutral-100 px-2"
    >
      <i class="las la-search"></i>
    </button>
  </div>
  <div class="flex flex-row space-x-1">
    <!-- svelte-ignore a11y_consider_explicit_label -->
    <button
      onclick={loadPrevious50}
      class="w-12 dark:bg-neutral-600 dark:hover:bg-neutral-500 hover:bg-neutral-50 bg-white rounded-full"
    >
      <i class="las la-angle-left"></i>
    </button>
    <!-- svelte-ignore a11y_consider_explicit_label -->
    <button
      onclick={loadNext50}
      class="w-12 dark:bg-neutral-600 dark:hover:bg-neutral-500 hover:bg-neutral-50 bg-white rounded-full"
    >
      <i class="las la-angle-right"></i>
    </button>
    <!-- svelte-ignore a11y_consider_explicit_label -->
    <button
      onclick={(e) => {
        e.preventDefault();
      }}
      class="w-12 dark:bg-neutral-600 dark:hover:bg-neutral-500 hover:bg-neutral-50 bg-white rounded-full"
    >
      <i class="las la-plus"></i>
    </button>
  </div>
</form>

{#await searchedProjectResult}
  <div class="flex justify-center items-center w-full h-full">
    <Spinner></Spinner>
  </div>
{:then searchedProjects}
  {#if searchedProjects && searchedProjects.hits.length === 0}
    <div
      class="flex justify-center items-center w-full h-full text-center text-lg text-neutral-300"
    >
      No mods found!
    </div>
  {:else if searchedProjects}
    <div
      class="grid grid-cols-1 hhd:grid-cols-2 uhd:grid-cols-3 uhd:grid-cols-4 gap-2 rounded-b-lg cursor-pointer px-2 pb-2 dark:bg-neutral-700 bg-neutral-100 overflow-y-scroll"
    >
      {#each searchedProjects.hits as project (project.project_id)}
        <div
          class="relative flex flex-col w-full h-fit dark:bg-neutral-600 bg-white rounded-lg p-2 space-y-2"
        >
          <div class="flex flex-row w-full space-x-2">
            <button
              class="relative min-w-16 min-h-16 max-h-16 max-w-16 rounded-md dark:bg-neutral-500 bg-neutral-100 rounded-md overflow-hidden group z-0"
              onclick={(e) => viewProjectInfo(e, project)}
            >
              <div
                class="absolute left-0 top-0 w-full h-full z-10 flex justify-center items-center group-hover:visible invisible text-3xl group-hover:bg-neutral-800/70 transition-all"
              >
                <i class="la la-info-circle"></i>
              </div>
              {#if project?.icon_url}
                <img
                  class="absolute top-0 left-0 w-full h-full z-0"
                  src={project?.icon_url}
                  alt={project?.title}
                />
              {:else}
                <div class="w-16 h-16 rounded-md">
                  <i class="las la-image"></i>
                </div>
              {/if}
            </button>
            <div class=" grow">
              <span class="">{project?.title}</span>
              <span class="italic text-md">({project.author})</span>
            </div>
            <div class="block float-right">
              <Button
                onclick={(e) => selectProject(e, project)}
                size="sm"
                icon="la-plus"
                type="icon"
                disabled={isProjectAlreadySetToInstall(project)}
              ></Button>
            </div>
          </div>
        </div>
      {/each}
    </div>
  {/if}
{/await}
