<script lang="ts">
  import type { MouseEventHandler } from 'svelte/elements';

  interface Props {
    icon?: string;
    disabled?: boolean;
    selected?: boolean;
    children?: import('svelte').Snippet;
    onclick: MouseEventHandler<HTMLElement> | null | undefined;
  }

  let {
    icon = '',
    disabled = false,
    selected = false,
    children,
    onclick,
  }: Props = $props();
</script>

{#if icon}
  <!-- svelte-ignore a11y_consider_explicit_label -->
  <button
    {onclick}
    {disabled}
    class:bg-emerald-400={selected}
    class:bg-emerald-500={!selected}
    class:dark:bg-blue-600={selected}
    class:dark:bg-blue-800={!selected}
    class="p-3 flex justify-center items-center rounded-full text-white text-2xl uhd:text-4xl dark:hover:bg-blue-600 hover:bg-emerald-400 transition-all disabled:bg-slate-300 disabled:text-slate-400 disabled:cursor-not-allowed"
  >
    <i class="las {icon}"></i>
  </button>
{:else}
  <button
    {onclick}
    {disabled}
    class:bg-emerald-400={selected}
    class:bg-emerald-500={!selected}
    class:dark:bg-blue-600={selected}
    class:dark:bg-blue-800={!selected}
    class="p-3 rounded-full text-white text-2xl uhd:text-4xl dark:hover:bg-blue-600 hover:bg-emerald-400 transition-all disabled:bg-slate-300 disabled:text-slate-400 disabled:cursor-not-allowed"
  >
    {@render children?.()}
  </button>
{/if}
