<script lang="ts">
  import SidebarOption from './SidebarOption.svelte';
  import { pageState, accountState, darkMode } from '../../state.svelte.js';

  let darkModeIcon = $derived(darkMode.get() ? 'la-sun' : 'la-moon');

  function toggleDarkMode() {
    if (darkMode.get()) {
      darkMode.set(false);
      document.documentElement.classList.remove('dark');
    } else {
      darkMode.set(true);
      document.documentElement.classList.add('dark');
    }
  }

  let skinFace = $derived(
    `https://visage.surgeplay.com/face/${accountState.minecraftAccount?.profile.skins[0].url
      .split('/')
      .pop()}`
  );
  let skinFaceAlt = $derived(
    `${accountState.minecraftAccount?.profile.name[0]}`
  );

  function setPage(page: string) {
    pageState.page = page;
  }
</script>

<div class="flex flex-col items-center space-y-2 w-16 uhd:w-24 h-screen py-8">
  {#if accountState.minecraftAccount}
    <SidebarOption
      onclick={() => setPage('User')}
      selected={pageState.page === 'User'}
    >
      <img
        class="w-10 h-10 uhd:w-12 uhd:h-12"
        src={skinFace}
        alt={skinFaceAlt}
      />
    </SidebarOption>
  {:else}
    <SidebarOption
      icon="la-user"
      onclick={() => setPage('User')}
      selected={pageState.page === 'User'}
    />
  {/if}
  <hr
    class="w-12 h-[2px] my-2 rounded-lg border dark:border-blue-700 border-emerald-300 mx-4 transition-colors"
  />
  <SidebarOption
    icon="la-cube"
    onclick={() => setPage('Instances')}
    selected={pageState.page === 'Instances' ||
      pageState.page === 'CreateInstance'}
  />
  <SidebarOption
    icon="la-server"
    onclick={() => setPage('Servers')}
    selected={pageState.page === 'Servers'}
    disabled
  />
  <div class="grow"></div>
  <SidebarOption icon={darkModeIcon} onclick={toggleDarkMode} />
  <SidebarOption
    icon="la-cog"
    onclick={() => setPage('Settings')}
    selected={pageState.page === 'Settings'}
  />
</div>
